<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>@ViewBag.Title - Ruann LINDE</title>
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Scripts", required: false)
    @Styles.Render("~/content/bootstrap")
    @Styles.Render("~/content/font-awesome")
    @Styles.Render("~/content/accounting")
</head>
<body ng-app="rlApp">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>
    <div class="container body-content" >
        @RenderBody()
    </div>
    <footer>
        <div class="container">
            <span class="text-muted">
                &copy; @DateTime.Now.Year
            </span>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/file-upload")
    @Scripts.Render("~/bundles/chart")

    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
</body>
</html>